<div class="form-container">
  <div class="mat-elevation-z4 search-form">
    <h2 class="title">Mon trajet</h2>

    <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
      <div class="grid">
        <!-- Départ -->
        <mat-form-field appearance="outline">
          <mat-label>Date de départ</mat-label>
          <input matInput
                 [matDatepicker]="pickerDepart"
                 formControlName="startDate"
                 (dateChange)="onDateChange($event.value)">
          <mat-datepicker-toggle matSuffix [for]="pickerDepart"></mat-datepicker-toggle>
          <mat-datepicker #pickerDepart></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Heure de départ</mat-label>
          <input matInput
                 [matTimepicker]="timePickerDepart"
                 [value]="timeFrom(form.value.startDate)"
                 (change)="onTimeChange($event.target.value)">
          <mat-timepicker-toggle matSuffix [for]="timePickerDepart"></mat-timepicker-toggle>
          <mat-timepicker #timePickerDepart></mat-timepicker>
        </mat-form-field>

        <!-- Retour -->
        <mat-form-field appearance="outline">
          <mat-label>Date de retour</mat-label>
          <input matInput
                 [matDatepicker]="pickerRetour"
                 formControlName="endDate"
                 (dateChange)="onDateChange($event.value)">
            <mat-datepicker-toggle matSuffix [for]="pickerRetour"></mat-datepicker-toggle>
          <mat-datepicker #pickerRetour></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Heure de retour</mat-label>
          <input matInput
                 [matTimepicker]="timePickerRetour"
                 [value]="timeFrom(form.value.endDate)"
                 (change)="onTimeChange($event.target.value)">
          <mat-timepicker-toggle matSuffix [for]="timePickerRetour"></mat-timepicker-toggle>
          <mat-timepicker #timePickerRetour></mat-timepicker>
        </mat-form-field>

        <!-- Départ & Destination -->
        <mat-form-field appearance="outline" class="span-2">
          <mat-label>Site de départ</mat-label>
          <input matInput placeholder="Ex : Nantes" formControlName="departureId">
        </mat-form-field>

        <mat-form-field appearance="outline" class="span-2">
          <mat-label>Destination</mat-label>
          <input matInput placeholder="Ex : Rennes" formControlName="arrivalId">
        </mat-form-field>

        <mat-form-field appearance="outline" class="span-2">
            <mat-label>Sélection du vehicule</mat-label>
            <input matInput placeholder="Ex : Clio BP-701-WY" formControlName="vehicleId">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Conducteur</mat-label>
            <input matInput placeholder="Conducteur" formControlName="driverId">
        </mat-form-field>
      </div>

      <div class="buttons">
        <button mat-raised-button color="primary" type="submit" (click)="onSearchCarpool()">Chercher un covoiturage</button>
        <button mat-raised-button color="primary" type="submit" (click)="onMakeReservationRequest()">Demander un vehicule</button>
        <button mat-raised-button color="primary" type="submit" (click)="onReserveVehicle()">Réserver un véhicule</button>
      </div>
    </form>

  </div>
</div>
