<div class="users-content">
    <h1>Les utilisateurs</h1>

    <div class="table-actions" style="display:flex; justify-content: space-between; align-items: center; margin-bottom:1rem;">
        <button class="reset-btn" (click)="onResetFilters()">
            <span>🧹</span> Réinitialiser les filtres
        </button>
        <button class="add-btn" (click)="onAddUser()">
        <span>➕</span> Ajouter un utilisateur
    </button>
    </div>

    <ag-grid-angular #agGrid
        (gridReady)="onGridReady($event)"
        style="width: 100%; height: 600px;"
        [columnDefs]="columnDefs"
        [rowData]="users"
        [pagination]="true"
        [paginationPageSize]="25"
        [paginationPageSizeSelector]="[10, 25, 50, 100]"
        [animateRows]="true"
        [localeText]="localeText">
    </ag-grid-angular>
</div>

