<div class="dlg-header">
    <h2 class="dlg-title">Supprimer</h2>
    <button class="close-btn" mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content class="dlg-content">
    <p>
        Que souhaitez-vous supprimer pour <b>{{ fullName }}</b> ?
    </p>
</div>

<div mat-dialog-actions class="dlg-actions">
    <button
        mat-stroked-button
        (click)="choose('account')"
        [disabled]="!hasAccount">
        Son compte
    </button>
    <button
        mat-stroked-button
        (click)="choose('person')">
        L'utilisateur complet
    </button>
</div>
