/* Largeurs configurables */
$sidebar-width: 280px;
$sidebar-collapsed: 0;

/* Conteneur principal */
.side-menu {
    position: relative;
    width: $sidebar-width;
    transition: background-color 300ms, width 300ms ease;
    padding: 8px;
    background: var(--sidemenu-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);

    /* Bouton toggle (fab) */
    .fab-toggle {
        position: absolute;
        opacity: 0;
        background: var(--sidemenu-color);
        transition: opacity 500ms ease, background-color 800ms ease;
        mat-icon {
            display: none;
        }
    }


    &.collapsed {
        transition: width 300ms ease;
        width: $sidebar-collapsed;
        padding: 0;
        box-shadow: none;

        .menu-surface {
            display: none; /* on masque tout le menu */
        }

        .fab-toggle {
            width: 40px;
            position: inherit;
            opacity: 1;
            transition: opacity 500ms ease, background-color 800ms ease;
            display: flex;
            border-radius: 5px;
            height: 40px;
            background: var(--main-color);
            color: #fff;
            cursor: pointer;
            padding: 10px;
            margin: 8px;

            mat-icon {
                display: inherit;
            }
        }
    }
}

/* Couleur du texte dans la sidebar */
.accordion,
.menu-header button,
.menu-header span,
mat-nav-list a span,
mat-nav-list a mat-icon,
mat-panel-title {
    color: #ffffff;
}

.mat-divider {
    margin: 1rem;
    border-top-color: rgba(255, 255, 255, 0.15);
}

/* Surface complète du menu (accordéons, listes) */
.menu-surface {
    flex: 1;
    overflow-y: auto;
}

.menu-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

/* Titre de section "Dashboard" */
.section-title {
    font-weight: 300;
    font-size: 18px;
    padding: 0 12px;
    color: #FFFFFF33;
}

/* Listes/items & Panels Material */

.mat-expansion-panel, mat-nav-list {
    background: transparent;
    box-shadow: none !important;
    margin: 0.5rem 0;
    padding: 0;
}

mat-expansion-panel mat-expansion-panel-header,
mat-expansion-panel mat-expansion-panel-header.mat-expanded,
mat-nav-list.list-expanded a[mat-list-item],
mat-nav-list.list-one a[mat-list-item] {
    border-radius: 8px;
    height: 50px;
    font-weight: 400;

    .list-title, mat-panel-title {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &:hover {
        background: #0000001a !important;
    }

    &.active {
        border: 1px solid rgba(255, 255, 255, 0.3);
        background: none !important;
    }
}

mat-nav-list.list-expanded {
    margin: 0 -14px -16px;
}

mat-expansion-panel.child mat-expansion-panel-header,
mat-expansion-panel.child mat-expansion-panel-header.mat-expanded,
mat-nav-list.child.list-one a[mat-list-item] {
    padding: 0 1rem;
}

mat-nav-list.list-expanded a[mat-list-item] {
    padding: 0 1rem;
}

mat-expansion-panel > .mat-expansion-panel-content-wrapper {
    margin: 0 15px !important;
}

/* Icônes */
mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
}

