
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

:root { /* Default */
    --main-color: #202020;
    --bg-color: #fff;
    --text-color: #000000;
    // Logo
    --logo-bright-color: #434343;
    --logo-contrast-color: #fff;
}

body.ADMIN { /* Admin */
    --main-color: #0048ff;
}

body.MANAGER { /* Manager */
    --main-color: #7b00ff;
}

body.ADMIN, body.MANAGER, {
    // Logo
    --logo-bright-color: #fff;
    --logo-contrast-color: #fff;
}

body.USER { /* User */
    --main-color: #202020;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { margin: 0; padding: 0; height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.neosolix-svg {
  path {
    fill: #252525;
  }
}

.fleetviewer-svg {
  .bright-color {
    fill: #D6D6D6;
  }
  .contrast-color {
    fill: #8B8B8B;

  }
}
