/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.neosolix-svg {
  path {
    fill: #252525;
  }
}

.fleetviewer-svg {
  .bright-color {
    fill: #D6D6D6;
  }
  .contrast-color {
    fill: #8B8B8B;

  }
}
