// Custom Theming for Angular Material
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

:root { /* Default */
    --main-color: #196dda;
    --bg-color: #fff;
    --text-color: #000000;
    // Logo
    --logo-bright-color: #fff;
    --logo-contrast-color: #fff;
}

body.ADMIN { /* Admin */
}

body.MANAGER { /* Manager */
}

body.USER { /* User */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--bg-color);
}

.neosolix-svg path {
  fill: #252525;
}

.fleetviewer-svg .bright-color {
  fill: #D6D6D6;
}

.fleetviewer-svg .contrast-color {
  fill: #8B8B8B;
}

/*
// Styles Responsive
.container {
  padding: 20px;
}

.card {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  margin: 10px 0;
}

.table-responsive {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: var(--main-color);
  color: white;
}

td {
  border: 1px solid #ddd;
}

// Media Queries
@media (max-width: 1200px) {
  // Tables adaptent plus facilement aux grandes tailles
  .container {
    padding: 15px;
  }
}

@media (max-width: 992px) {
  // Sur les tablettes et écrans moyens
  .card {
    padding: 15px;
  }

  .table-responsive {
    margin-top: 20px;
  }

  th, td {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  // Sur les écrans de mobile
  .container {
    padding: 10px;
  }

  .card {
    padding: 10px;
  }

  .table-responsive {
    overflow-x: scroll;
  }

  th, td {
    font-size: 12px;
    padding: 8px;
  }
}

@media (max-width: 576px) {
  // Sur les petits écrans
  th, td {
    font-size: 10px;
    padding: 5px;
  }
}
*/
