<div class="dashboard-container">

  <aside class="sidebar">


      <!-- Accordéon: un seul panel ouvert à la fois -->
      <mat-accordion [multi]="false" displayMode="flat" class="sidebar-accordion">
          <nav>
              <a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Hub</a>
              <a routerLink="/search-ride" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Rechercher un trajet -> pas ici</a>
              <a>Mes trajets -> pas ici</a>
              <a>Demandes de réservation  -> plutot un dashboard reservation (avec les demandes) ?</a>
          </nav>

          <mat-expansion-panel>
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      Utilisateurs
                  </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-nav-list>
                  <a mat-list-item routerLink="./users" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Liste des utilisateurs</a>
                  <a mat-list-item routerLink="./users/new" >Créer un utilisateur</a>
              </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      Véhicules
                  </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-nav-list>
                  <a mat-list-item routerLink="./vehicles" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Liste de véhicules</a>
                  <a mat-list-item routerLink="./vehicles/create" routerLinkActive="active">Créer un véhicule</a>
              </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      Sites
                  </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-nav-list>
                  <a mat-list-item routerLink="./users" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Liste des sites </a>
                  <a mat-list-item> Créer un site </a>
              </mat-nav-list>
          </mat-expansion-panel>

      </mat-accordion>
  </aside>

  <div class="dashboard-content">
    <router-outlet></router-outlet>
  </div>

</div>
