<div class="dashboard-container">
    <nav class="app-nav" *ngIf="!isOnHub()">
        <a routerLink="./" routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }"><span class="icon">📊</span>Vue générale</a>
        <a routerLink="users" routerLinkActive="active"><span class="icon">👤</span>Utilisateurs</a>
        <a routerLink="vehicles" routerLinkActive="active"><span class="icon">🚗</span>Véhicules</a>
       </nav>

    <div class="dashboard-content">
        <router-outlet></router-outlet>
    </div>
</div>
