.key-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    span {
        font-weight: 500;
    }

    mat-icon {
        color: #44474e;
        cursor: pointer;
    }
}
