<!-- dashboard-hub.component.html -->
<h2>Bienvenue sur le panneau de supervision</h2>

<div class="grid">
    <div class="panel" *ngFor="let d of dashboards" (click)="navTo(d.route)">
       <ng-container *ngIf="d.count === null; else show">
           <span>Chargement...</span>
       </ng-container>
        <ng-template #show>
            <span *ngIf="d.count as c" class="digit">{{ c }}</span>
            <div>
                <span>{{ d.title }}</span>
                <mat-icon>{{ d.icon }}</mat-icon>
            </div>
        </ng-template>
    </div>
</div>
