.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 3rem;
    margin-top: 2rem;
    max-width: 1000px;
    padding: 1rem;
}

h2 {
    text-align: center;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1.5rem 3rem;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease,
                background-color 0.3s ease;

    .digit {
        font-size: 60px;
        font-weight: 600;
        color: #3a3a3a;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        color: #1a4268;

        span {
            font-size: 25px;
        }

        mat-icon {
            font-size: 40px;
            height: 40px;
            width: 40px;
        }
    }
}

.panel:hover {
    background-color: #eaeaea;
    transform: scale(1.05);
}

